@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  max-width: 100%;
  color: white;
}
a {
  text-decoration: none;
}
ul > li {
  list-style-type: none;
}

.mycontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px auto;
}
.toto {
  background: url("../images/thanks.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire*/


}
.button1 {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
 
}
.site-header {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 30px -16px rgba(0, 0, 0, 0.5);
}
.site-header .content {
  width: 100%;

}
.site-header .log-in {
  width: 430px;
  min-height: 40px;
  float: right;
}
.site-header .log-in ul {
  min-height: 40px;
}
.site-header .log-in ul li {
  float: right;
  padding: 5px 15px;
  border-right: 1px solid #1c365e;
}
.site-header .log-in ul li img {
  float: left;
}
.site-header .log-in ul li a {
  font-size: 20px;
  line-height: 30px;
  color: #1c365e;
  display: inline-block;
}
.site-header .log-in ul li .span {
  font-size: 20px;
  line-height: 30px;
  color: #1c365e;
  display: inline-block;
}
.site-header .log-in ul li .span img {
  float: unset;
  width: 40px;
  border-radius: 40px;
  position: absolute;
  margin-left: 10px;
  margin-top: -7px;
}
.site-header .log-in ul li:last-child {
  border: none;
}
.site-header .h1 {
  font-size: 56px;
  color: #000000;
  padding: 75px 0px;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.sidebar-container {
  position: relative;
}
.sidebar-container .sidebar {
  position: absolute;
  height: 100vh;
  display: none;
  width: 250px;
  background: #1c365e;
}
.sidebar-container .sidebar ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  color: #ffffff;
  background-color: #1c365e;
  padding: 5px 0px;
  font-size: 20px;
  width: 240px;
}
/* .sidebar-container .sidebar ul li i{
  font-size: 32px;
  display: flex;
  color: #FFFFFF;
} */
.sidebar-container .sidebar ul {
  background-color: #1c365e;
}
.body {
  clear: both;
}
.body .side-bar {
  width: 250px;
}
.body .side-bar ul,
.sidebar ul {
  background-color: #1c365e;
  font-size: 20px;
  line-height: 30px;
  color: black;
  padding-left: 10px;
}
.body .side-bar ul li,
.sidebar ul li {
  display: inline-block;
  min-height: 40px;
  background-color: #1c365e;
  padding: 5px 0px;
  width: 240px;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.body .side-bar ul li a,
.sidebar ul li a {
  color: #ffffff;
  padding-left: 10px;
}
.body .side-bar ul li img,
.sidebar ul li img {
  float: left;
  padding-top: 4px;
  width: 20px;
}
.body .side-bar ul li .pic img,
.sidebar ul li .pic img {
  float: left;
  padding-top: 4px;
  width: 70px;
}
.main-content.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
}
.main-content.cards a {
  display: block;
  width: 320px;
  height: 200px;
  margin: 20px 5px;
}
.main-content.cards a:hover {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
.main-content.cards a:active {
  color: black;
}
.main-content.cards .card {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 8px 2px grey;

  /* padding-top: 80px; */
}
.main-content.cards .card h2 {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}
.main-content.cards .card.c1 {
  background: url("../images/pc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-content.cards .card.c2 {
  background: url("../images/cell-phone.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;

}
/* login-page css */

.login-form,
.signup-form,
.forget-form,
.update-form {
  position: relative;
  /* padding: 100px 0px; */
  background: url("../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.login-form .image-side,
.signup-form .image-side,
.forget-form .image-side,
.update-form .image-side {
  width: 50%;
  float: left;
  text-align: center;
}
.login-form .image-side img,
.signup-form .image-side img,
.forget-form .image-side img,
.update-form .image-side img {
  width: 100%;
}
.login-form .form-side,
.signup-form .form-side,
.forget-form .form-side,
.update-form .form-side {
  width: 50%;
  float: left;
  text-align: center;
  padding: 0px 100px;
  margin: 0 auto;
}
.forget-form .form-side {
  padding: 100px;
}
.login-form .form-side .form,
.signup-form .form-side .form,
.forget-form .form-side .form {
  border-bottom: 1px solid #1c365e;
}
.login-form .form-side .h1,
.signup-form .form-side .h1,
.forget-form .form-side .h1,
.update-form .form-side .h1 {
  font-size: 32px;
  /* color: #000000; */
  color: #ffffff;
  padding-bottom: 20px;
}
.forget-form .form-side .p1 {
  font-size: 17px;
  color: #ffffff;
  padding-bottom: 20px;
}
.form1input1,
.form1input2,
.form2input3,
.form2input6,
.form3input1 {
  width: 100%;
  height: 45px;
  color: #000000;
  outline: none;
  border: 1px solid #000000;
  border-radius: 55px;
  margin-bottom: 20px;
  padding-left: 30px;
  font-size: 17px;
}
.form2input1,
.form2input2,
.form2input4,
.form2input5,
.form4input1,
.form4input2 {
  width: 47%;
  height: 45px;
  outline: none;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 55px;
  margin-bottom: 20px;
  padding-left: 25px;
  font-size: 17px;
}
.form2input1,
.form2input4,
.form4input1 {
  float: left;
}
.form2input2,
.form2input5,
.form4input2 {
  float: right;
}
.form1-btn,
.form2-btn,
.form3-btn,
.form4-btn {
  width: 100%;
  height: 55px;
  color: #ffffff;
  background-color: #1c365e;
  border: none;
  border-radius: 55px;
  margin-bottom: 20px;
  outline: none;
  font-size: 17px;
}
.form1-btn:hover,
.form2-btn:hover,
.form3-btn:hover,
.form4-btn:hover {
  color: #1c365e;
  background-color: #ffffff;
  border: 1px solid #1c365e;
}
.login-form .form-side .anchors,
.signup-form .form-side .anchors,
.forget-form .form-side .anchors {
  text-align: center;
  padding-top: 15px;
}
.login-form .form-side .anchors a,
.signup-form .form-side .anchors a,
.forget-form .form-side .anchors a {
  font-size: 17px;
  line-height: 20px;
  color: #1c365e;
}
.form-side .anchors a:hover {
  text-decoration: underline;
}
.products {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 0;
}
.products .item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(15, 5, 59);
  margin: 5px 5px;
  padding: 5px;
  cursor: pointer;
  width: 100%;
}
.products .item.active {
  background: gray;
  color: white;
}
.products .item .item-d {
  padding: 5px;
}
.products .item .pic {
  width: 70px;
  height: auto;
}
.products .item .pic img {
  max-width: 100%;
  max-height: 100px;
}
.p-details {
  padding: 10px 10px;
}
.p-details .models {
  flex-direction: row;
  flex-wrap: wrap;
}
.p-details .models .model {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid rgb(15, 5, 59);
  cursor: pointer;
  min-width: 115px;
}
.p-details .models .model.active {
  background: gray;
}
.payment {
  display: none;
  margin: 10px;
  padding: 10px;
}
.payment-form .form-control label,
.payment-form .form-control2 label,
.payment-form .form-control3 label {
  width: 150px;
  display: block;
  float: left;
  clear: both;
}
.payment-form .form-control3 label {
  float: left;
  width: 150px;
  display: inline-block;
}

.payment-form .form-control input,
.payment-form .form-control2 input {
  width: 250px;
  padding: 0 20px;
  height: 40px;
  margin: 3px 0;
  border-radius: 5px;
  border: 2px solid #1c365e;
  color: #1c365e;
  display: inline-block;
}
.payment-form .form-control3 input {
  width: 122px;
  float: left;
  padding: 0 20px;
  height: 40px;
  margin: 3px 0;
  border-radius: 5px;
  border: 2px solid #1c365e;
  color: #1c365e;
  display: inline-block;
}
.payment-form .form-control input.submit {
  background: #1c365e;
  cursor: pointer;
  outline: none;
  color: white;
}
#msg {
  margin: 0 0 15px 0;
}

/* dropdown css */
.dropbtn {
  height: 40px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  line-height: 40px;
  background: rgb(148, 186, 222);
}
.dropbtn span {
  height: 40px;
  float: left;
  line-height: 43px;
}
.dropbtn img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background: rgb(148, 186, 222);
}

.dropdown {
  position: relative;
  float: right;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  right: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Captcha */
.captcha-widget {
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fb-login-btn {
  background: #3d6ad6;
}
.fb-login-btn i {
  margin: 0 10px 0 0;
}
.about-us-div {
  width: 100%;
  box-shadow: 0px 0px 10px 1px grey;
  margin: 15px;
  padding: 20px;
}
.purchaseso {
  border-radius: 5px;
  border-color: black;

}
.about-us-div h2 {
  color: #ffffff;
}
.about-us-div ul li {
  padding: 4px;
  color: #ffffff;
}
.about-us-div ul li a {
  color: #3d6ad6;
  font-size: 18px;
}
.profile-info-form {
  /* border-bottom: 1px solid gray; */
  margin: 20px;
}
.profile-info-form:last-child {
  border-bottom: none;
}
.profile-info-form .form-controll {
  min-width: 300px;
  max-width: 300px;
  float: left;
  margin: 10px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  clear: both;
  position: relative;
  height: 100px;
  margin-top: -200px;
}
.profile-info-form .form-controll label {
  color: #ffffff;
}
.profile-info-form .form-controll input {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
}
.ino{
  border: none;
  border-bottom: 7px solid red;
}

.prof-sub-btn button {
  padding: 12px 20px;
  margin: 10px;
  background: #3d6ad6;
  border: none;
  color: #ffffff;
  border-radius: 4px;
}
.responsivecard {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.menu-btn-nav {
  font-size: 24px;
  padding: 2px 10px;
  margin: 2px 10px;
  cursor: pointer;
}
.menu-label {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.responsiveimg {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding-left: 7%;
  padding-top: 4%;
  padding-bottom: 4%;
}
.responsiveimgreg {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding-left: 7%;
  padding-top: 4%;
  padding-bottom: 20%;
}
.close-sidebar-btn {
  font-size: 30px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 1px 10px;
  font-weight: 400;
  float: right;
  height: 38px;
  margin: 10px;
  line-height: 30px;
  cursor: pointer;
}
.main {
  background: url("../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
}
@media (max-width: 992px) {
  .login-form .form-side,
  .signup-form .form-side,
  .forget-form .form-side,
  .update-form .form-side {
    padding: 0px 40px;
  }
}
@media (max-width: 830px) {
  .products {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .form1input1,
  .form1input2,
  .form2input3,
  .form2input6,
  .form3input1,
  .form2input1,
  .form2input2,
  .form2input4,
  .form2input5,
  .form4input1,
  .form4input2,
  .form1-btn,
  .form2-btn,
  .form3-btn,
  .form4-btn {
    height: 35px;
    border-radius: 35px;
    margin-bottom: 10px;
    padding-left: 18px;

    font-size: 14px;
  }
}
@media (max-width: 667px) {
  .login-form .image-side,
  .signup-form .image-side,
  .forget-form .image-side,
  .update-form .image-side {
    width: 40%;
  }
  .login-form .form-side .h1,
  .signup-form .form-side .h1,
  .forget-form .form-side .h1,
  .update-form .form-side .h1 {
    font-size: 26px;
  }
  .login-form .form-side,
  .signup-form .form-side,
  .forget-form .form-side,
  .update-form .form-side {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .login-form .image-side,
  .signup-form .image-side,
  .forget-form .image-side,
  .update-form .image-side {
    display: none;
  }
  .login-form .form-side,
  .signup-form .form-side,
  .forget-form .form-side,
  .update-form .form-side {
    width: 310px;
    margin: 0 auto;
    padding: 0px;
  }
  .mycontainer {
    justify-content: center;
  }
  .mycontainer .side-bar {
    width: 250px;
  }
  .mycontainer .side-bar ul li {
    width: 100%;
  }
  .responsiveimg {
    width: 50%;
    max-width: 400px;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .responsiveimgreg {
    width: 50%;
    max-width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.card123 {display:inline-block!important;}

.flex-container {
  width: 100%!important;
  height: 250px!important;
  background-color: rgba(0, 0, 150, .3)!important;
  text-align: center!important;
}
.flex-item {
  box-sizing: border-box!important;
  border: 1px solid #ddd!important;
  background-color: rgba(0, 150, 0, .3)!important;
  display: inline-block!important;
  width: 150px!important;
  height: 250px!important;
}
.flex-item + .flex-item {
  margin-left: 2%!important;
}





/*
HTML 5 Template Name: 
File: 960px Framework CSS
Author: OS Templates
Author URI: https://www.os-templates.com/
Licence: <a href="https://www.os-templates.com/template-terms">Website Template Licence</a>
*/

.one_half, 
.one_third, .two_third, 
.one_quarter, .two_quarter, .three_quarter, 
.one_fifth, .two_fifth, .three_fifth, .four_fifth{display:inline-block; float:left; margin:0 0 0 20px; list-style:none;}

.one_third, .two_third{margin:0 0 0 30px;}

.first, 
.one_half:first-child, 
.one_third:first-child, .two_third:first-child, 
.one_quarter:first-child, .two_quarter:first-child, .three_quarter:first-child, 
.one_fifth:first-child, .two_fifth:first-child, .three_fifth:first-child, .four_fifth:first-child{margin-left:0;}

.two_half, .three_third, .four_quarter, .five_fifth{display:block; width:100%; clear:both;}

/*----------------------------------------------Half Grid-------------------------------------*/

.one_half{width:470px;}

/*----------------------------------------------Third Grid-------------------------------------*/

.one_third{width:300px;}
.two_third{width:630px;}

/*----------------------------------------------Quarter Grid-------------------------------------*/

.one_quarter{width:225px;}
.two_quarter{width:470px;}
.three_quarter{width:715px;}

/*----------------------------------------------Fifth Grid-------------------------------------*/

.one_fifth{width:176px;}
.two_fifth{width:372px;}
.three_fifth{width:568px;}
.four_fifth{width:764px;}

/*
HTML 5 Template Name: 
File: About Us - 16 CSS
Author: OS Templates
Author URI: https://www.os-templates.com/
Licence: <a href="https://www.os-templates.com/template-terms">Website Template Licence</a>
*/

#about-us{display:block; width:100%; line-height:1.6em;}
#about-us h2{margin-bottom:40px; padding:0;} /* DEMO USE ONLY - CAN BE DELETED */

#about-us #about-intro{margin-bottom:50px;}
#about-us #about-intro .imgholder{padding:9px;}
#about-us #about-intro h2{margin-bottom:auto;}

#about-us #about-intro ul li{margin-top:5px;}
#about-us #about-intro ul li:first-child{margin-top:0;}

#about-us #client_logos{margin-bottom:50px; padding:40px 0; border:solid #CCCCCC; border-width:1px 0;}
#about-us #client_logos ul{margin:0; padding:0; list-style:none;}

#about-us #client_logos ul li:first-child{margin-left:0;}



#about-us #team ul{margin:0; padding:0; list-style:none; text-align:center;}
#about-us #team ul li{margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #CCCCCC;}

#about-us #team ul li figure img{padding:9px; border:1px solid #CCCCCC;}

#about-us #team ul li p{margin:15px 0 0 0; padding:0;}

#about-us #team ul li figure figcaption .team_name{font-size:18px;}
#about-us #team ul li figure figcaption .team_title{margin:0; font-size:11px; line-height:normal;}